.aboutTitle {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  margin-top: 1em;
  margin-bottom: 1em;
}

.aboutMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1em;
  margin-top: 5em;
  margin-bottom: 5em;
}

.aboutTimeline {
  grid-area: 1 / 3 / 2 / 4;
}

.aboutTimeline h1 {
  font-size: 2rem;
  margin: 0 0 0.5em 0;
}
.aboutTimeline h2 {
  font-size: 1.5rem;
}

.aboutProject {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 1.2rem;
  display: flex;
  /* align-items: center; */
  gap: 1em;
}

.aboutProject h1 {
  font-size: 2.5rem;
  margin: 0 0 0.5em 0;
  font-weight: 900;
}

.aboutProject h2 {
  font-size: 1.75rem;
  margin-top: 0.5em;
}

.aboutText {
  flex: 2;
}

.aboutIllustration {
  display: flex;
  /* align-items: start; */
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
}

.aboutIllustration img {
  /* min-width: 20em; */
  height: auto;
  border-radius: 1em;
}

.aboutAA {
  margin: -3.5em 0em;
}

.aboutTile {
  background: var(--white);
  /* border: solid 1px red; */
  border-radius: 1em;
  padding: 1.2em 1.5em;
}
