.tooltip {
    position: absolute;
    z-index: 10;
    background: var(--white);
    color: var(--black);
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    /* border: solid 2px var(--secondary); */
    box-shadow: 0 5px 15px -5px oklch(from var(--black) l c h / calc(alpha - 0.1));
    font-size: 0.85rem;
    font-weight: 400;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translate(-50%, -150%) scale(0.8);
}

.tooltip.tooltipShow {
  opacity: 1;
  transform: translate(-50%, -150%) scale(1);
}